/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CHRISTOFFER CSS */
body {
	color: #333;
	font: 16px/1.5em 'Helvetica', 'Arial', sans-serif;
	background: #b7deed; /* Old browsers */
	background: -moz-linear-gradient(top, #b7deed 0%, #71ceef 26%, #209b17 27%, #209b17 27%, #14560b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7deed), color-stop(26%,#71ceef), color-stop(27%,#209b17), color-stop(27%,#209b17), color-stop(100%,#14560b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #b7deed 0%,#71ceef 26%,#209b17 27%,#209b17 27%,#14560b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #b7deed 0%,#71ceef 26%,#209b17 27%,#209b17 27%,#14560b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #b7deed 0%,#71ceef 26%,#209b17 27%,#209b17 27%,#14560b 100%); /* IE10+ */
	background: linear-gradient(to bottom, #b7deed 0%,#71ceef 26%,#209b17 27%,#209b17 27%,#14560b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#14560b',GradientType=0 ); /* IE6-9 */
}

html, body {
	margin: 0;
	height: 100%;
}

h1 {
	text-align: center;
	font-size: 2.5em;
	line-height: 1.5em;
}

.content {
	margin: 0 auto;
	width: 800px;
	text-align: center;
	position: relative;
	z-index: 100;
}

.btn {
	background: #ddd;
	color: #333;
	padding: 12px 18px;
	margin: 20px 0;
	border-radius: 8px;
	box-shadow: 0 4px #ccc;
	cursor: pointer;
	display: inline-block;
}

.btn:hover {
	background: #d9d9d9;
	color: #333;
	padding: 12px 18px;
	border-radius: 8px;
	box-shadow: 0 4px #ccc;
}

.btn:active {
	box-shadow: none;
	position: relative;
	top: 4px;
}

.btn-reload {
	background: #8c616b;
	color: #eee;
	padding: 12px 18px;
	border-radius: 8px;
	box-shadow: 0 4px #50383d;
	cursor: pointer;
}

.btn-reload:hover {
	background: #7d575f;
	color: #eee;
	box-shadow: 0 4px #50383d;
}

.btn-reload:active {
	box-shadow: none;
	position: relative;
	top: 4px;
}

.car-table {
	border: 1px solid #333;
	margin: 20px auto;
}

.car-table td,
.car-table th{
	padding: 5px 18px;
}

.car-table tr {
	border-bottom: 1px solid #333;
}

.car-table thead tr {
	background: #6B8C61;
	color: #eee;
}
.car-table tbody tr:nth-child(odd) {
	background: #d9d9d9;
}
.car-table tbody tr:nth-child(even) {
	background: #f9f9f9;
}

#ajax-loader {
	display: none;
	background: url('/assets/img/485.GIF');
	width: 64px;
	height: 64px;
	margin: 0 auto 20px;
}

.footer {
	color: #fff;
	position: absolute;
	bottom: 310px;
	left: 10px;
	z-index: 9999;
	font-size: 2em;
}

/* COOL ROAD AND CARS */
.car-movement {
	position: relative;
	top: 10px;
	margin: 0 0 160px;
}
.car {
	float: left;
}
.part-blue {
    float: right;
    width: 100px;
    height: 100px;
    background: teal;
    position: relative;
    overflow: visible;
}

.part-red {
    float: right;
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    overflow: visible;
}
.front, .back {
    height: 50px;
    margin-top: 50px;
}
.windows {
    height: 50px;
}

.glass {
    border: 1px solid #f0e280;
    width: 46%;
    margin: 1%;
    height: 99%;
    float: left;
    background: #e1ffff;
    /* Old browsers */
    background: -moz-linear-gradient(top, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 32%, #e6f8fd 49%, #c8eefb 76%, #bee4f8 87%, #b1d8f5 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e1ffff), color-stop(7%, #e1ffff), color-stop(12%, #e1ffff), color-stop(32%, #fdffff), color-stop(49%, #e6f8fd), color-stop(76%, #c8eefb), color-stop(87%, #bee4f8), color-stop(100%, #b1d8f5));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 32%, #e6f8fd 49%, #c8eefb 76%, #bee4f8 87%, #b1d8f5 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 32%, #e6f8fd 49%, #c8eefb 76%, #bee4f8 87%, #b1d8f5 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 32%, #e6f8fd 49%, #c8eefb 76%, #bee4f8 87%, #b1d8f5 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #e1ffff 0%, #e1ffff 7%, #e1ffff 12%, #fdffff 32%, #e6f8fd 49%, #c8eefb 76%, #bee4f8 87%, #b1d8f5 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1ffff', endColorstr='#b1d8f5', GradientType=0);
    /* IE6-9 */
}

.wheel {
    width: 40%;
    height: 75%;
    box-sizing: border-box;
    background: whitesmoke;
    margin-left: 25%;
    position: absolute;
    bottom: -25%;
    border-radius: 100%;
    border: 9px solid gray;
}

.light {
    position: absolute;
    right: 0;
    top: 10px;
    height: 10px;
    width: 25px;
    background: #fefcea; /* Old browsers */
background: -moz-linear-gradient(left, #fefcea 0%, #f1da36 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fefcea), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #fefcea 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #fefcea 0%,#f1da36 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #fefcea 0%,#f1da36 100%); /* IE10+ */
background: linear-gradient(to right, #fefcea 0%,#f1da36 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=1 ); /* IE6-9 */
}

.light:after {
    content: ' ';
    position: absolute;
    width: 20px;
    height: 40px;
    right: -10px;
    top: -15px;
    background: #f1da36; /* Old browsers */
background: -moz-radial-gradient(center, ellipse cover, #f1da36 0%, #fefcea 70%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f1da36), color-stop(70%,#fefcea)); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, #f1da36 0%,#fefcea 70%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, #f1da36 0%,#fefcea 70%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, #f1da36 0%,#fefcea 70%); /* IE10+ */
background: radial-gradient(ellipse at center, #f1da36 0%,#fefcea 70%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fefcea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-radius: 10px;
    z-index: -1;
}


.antennae {
    width: 1px;
    height: 50px;
    background: black;
    margin-left: 50%;
    margin-top: -48%;
    -webkit-transform: rotate(-20deg);
}

.antennae:after {
    content: ' ';
    position: absolute;
    top: -5px;
    left: -2px;
    background: black;
    border-radius: 10px;
    height: 5px;
    width: 5px;
}


.fast-car {
	animation:car_move 10s infinite;
	-webkit-animation:car_move 10s infinite; /* Safari and Chrome */
}

.slow-car {
	background: teal;
	animation:car_move 15s infinite;
	-webkit-animation:car_move 15s infinite; /* Safari and Chrome */
}
.road {
	position: absolute;
	bottom: 0;
	height: 300px;
	width: 100%;
	background: #282B2A url(/assets/img/road_bg.png) repeat-x;
	overflow: hidden;
}


@keyframes car_move {
	from {left:0;}
	to {left:100%;}
}

@-webkit-keyframes car_move {
	from {left:0;}
	to {left:100%;}
}

